{
    "prefix": "",
    "token": "",
    "owners": [
        ""
    ],
    "dev": false,
    "guildId": "",
    "clientId": "",
    "mongo_uri": "",
    "colors": {
        "default": "606C65",
        "error": "FF4500"
    },
    "nodes": [
        {
            "name": "Your Node name",
            "url": "your host:your port",
            "auth": "youshallnotpass",
            "secure": false
        }
    ]
}